!!!
%html
  %head
    %title Itravel
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    'home/itravel'
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag 'application'