.container
  %h1 Add attraction
  .row
    = form_for @attraction, url: attractions_create_path do |f|
      .form-group
        = f.label :country_id
        = f.select :country_id, options_from_collection_for_select(@countries, 'id', 'name'), {}, class: "form-control"
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
        %br
        = f.label :description
        = f.text_area :description, class: "form-control"
      .form-group
        = f.fields_for :photos do |p|
          = p.label :picture
          = p.file_field :picture
      .form-group
        = f.submit "Submit", class: "btn btn-primary"
